In [1]:
# Impor library pandas agar bisa memanipulasi data
import pandas as pd

# Baca dataset dari file CSV
df = pd.read_csv("jabodetabeksur_olx_housing_dataset.csv")

df.shape           # (jumlah_baris, jumlah_kolom)

(16148, 32)

In [9]:
df = df.dropna(subset=[
  'price', 'type', 'land_area', 'building_area',
    'address', 'address_road', 'address_city',
 'address_district', 'address_subdistrict'
])

# Tampilkan jumlah data yang mengandung nilai kosong pada setiap kolom
df.isnull().sum()

url                        0
ads_id                     0
title                      0
price                      0
type                       0
land_area                  0
building_area              0
bedrooms                   0
bathrooms                  0
maid_bedrooms              0
maid_bathrooms             0
ruang_tamu                 0
ruang_makan                0
additional_rooms        1604
floors                     0
certificate              839
address                    0
address_road               0
address_city               0
address_district           0
address_subdistrict        0
garage_capacity            0
carport_capacity           0
facilities               531
description                0
posting_date               0
posting_date_month         0
posting_date_year          0
poster                     0
electricity_capacity    3786
house_orientation       4600
image_url                  0
dtype: int64

In [10]:
print(df.isnull().sum())

url                        0
ads_id                     0
title                      0
price                      0
type                       0
land_area                  0
building_area              0
bedrooms                   0
bathrooms                  0
maid_bedrooms              0
maid_bathrooms             0
ruang_tamu                 0
ruang_makan                0
additional_rooms        1604
floors                     0
certificate              839
address                    0
address_road               0
address_city               0
address_district           0
address_subdistrict        0
garage_capacity            0
carport_capacity           0
facilities               531
description                0
posting_date               0
posting_date_month         0
posting_date_year          0
poster                     0
electricity_capacity    3786
house_orientation       4600
image_url                  0
dtype: int64

In [11]:
# Impor library pandas agar bisa memanipulasi data
import pandas as pd

# Baca dataset dari file CSV
df = pd.read_csv("jabodetabeksur_olx_housing_dataset.csv")

# Menghapus duplikat berdasarkan kolom 'url' dan 'ads_id'
df.drop_duplicates(subset=['url', 'ads_id'], keep='first', inplace=True)

In [3]:
# Impor library pandas agar bisa memanipulasi data
import pandas as pd

# Baca dataset dari file CSV
df = pd.read_csv("PropertyProfileMatching_results_031.csv")

In [6]:
print(df.head(2))

                                                   url     ads_id  \
282  https://www.olx.co.id/item/dijual-rumah-murah-...  925483365
410  https://www.olx.co.id/item/rumah-taman-sawanga...  808144328

                              title        price   type  land_area  \
282        Dijual rumah murah bagus  950000000.0  Rumah       84.0
410  Rumah Taman Sawangan Residence  435000000.0  Rumah       72.0

     building_area bedrooms bathrooms  maid_bedrooms  ...  carport_capacity  \
282           72.0        4         3              0  ...                 0
410           45.0        2         1              0  ...                 0

                                            facilities  \
282  ['AC', 'Carport', 'Garasi', 'Garden', 'PAM', '...
410                              ['Carport', 'Garden']

                                           description      posting_date  \
282  ['Dijual Rumah Murah Full Renovasi 2 Lantai/Ti...  8 September 2024
410  ['Jual Rumah Murah Bisa Nego', 'Rumah di Taman...     3 August 2024

     posting_date_month posting_date_year        poster electricity_capacity  \
282                   9              2024  Rangga Nanda               2200.0
410                   8              2024          dodi               2200.0

    house_orientation                                          image_url
282           Selatan  ['https://apollo.olx.co.id/v1/files/66dc1a75d3...
410             Barat  ['https://apollo.olx.co.id/v1/files/120oemc26s...

[2 rows x 32 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16148 entries, 0 to 16147
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   16148 non-null  object
 1   ads_id                16148 non-null  int64
 2   title                 16148 non-null  object
 3   price                 16146 non-null  float64
 4   type                  16148 non-null  object
 5   land_area             16148 non-null  float64
 6   building_area         16148 non-null  float64
 7   bedrooms              16148 non-null  object
 8   bathrooms             16148 non-null  object
 9   maid_bedrooms         16148 non-null  int64
 10  maid_bathrooms        16148 non-null  int64
 11  ruang_tamu            16148 non-null  int64
 12  ruang_makan           16148 non-null  int64
 13  additional_rooms      12030 non-null  float64
 14  floors                16148 non-null  int64
 15  certificate           4717 non-null   object
 16  address               5340 non-null   object
 17  address_road          16022 non-null  object
 18  address_city          16022 non-null  object
 19  address_district      16022 non-null  object
 20  address_subdistrict   16022 non-null  object
 21  garage_capacity       16148 non-null  int64
 22  carport_capacity      16148 non-null  int64
 23  facilities            4907 non-null   object
 24  description           16148 non-null  object
 25  posting_date          16148 non-null  object
 26  posting_date_month    16148 non-null  int64
 27  posting_date_year     16148 non-null  int64
 28  poster                16148 non-null  object
 29  electricity_capacity  6429 non-null   float64
 30  house_orientation     4627 non-null   object
 31  image_url             16148 non-null  object
dtypes: float64(5), int64(10), object(17)
memory usage: 3.9+ MB

In [6]:
df.dtypes

url                      object
ads_id                    int64
title                    object
price                   float64
type                     object
land_area               float64
building_area           float64
bedrooms                 object
bathrooms                object
maid_bedrooms             int64
maid_bathrooms            int64
ruang_tamu                int64
ruang_makan               int64
additional_rooms        float64
floors                    int64
certificate              object
address                  object
address_road             object
address_city             object
address_district         object
address_subdistrict      object
garage_capacity           int64
carport_capacity          int64
facilities               object
description              object
posting_date             object
posting_date_month        int64
posting_date_year         int64
poster                   object
electricity_capacity    float64
house_orientation        object
image_url                object
dtype: object

In [7]:
df.isnull().sum()

url                         0
ads_id                      0
title                       0
price                       2
type                        0
land_area                   0
building_area               0
bedrooms                    0
bathrooms                   0
maid_bedrooms               0
maid_bathrooms              0
ruang_tamu                  0
ruang_makan                 0
additional_rooms         4118
floors                      0
certificate             11431
address                 10808
address_road              126
address_city              126
address_district          126
address_subdistrict       126
garage_capacity             0
carport_capacity            0
facilities              11241
description                 0
posting_date                0
posting_date_month          0
posting_date_year           0
poster                      0
electricity_capacity     9719
house_orientation       11521
image_url                   0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
import pandas as pd
from scipy.stats import zscore

# Load data
df = pd.read_csv("jabodetabeksur_olx_housing_dataset.csv")

# Select only numeric columns
numeric_df = df.select_dtypes(include=['number'])

# Drop rows with NaNs to avoid skewing Z-scores
numeric_df_clean = numeric_df.dropna()

# Compute Z-scores
z_scores = zscore(numeric_df_clean)

# Convert to DataFrame
z_df = pd.DataFrame(z_scores, columns=numeric_df_clean.columns)

# Identify rows where any value in the row has abs(z) > 3
outliers = numeric_df_clean[(abs(z_df) > 3).any(axis=1)]

# Print results
print("Outlier rows based on Z-score:")
print(outliers)

C:\Users\madea\AppData\Local\Temp\ipykernel_20128\3097528939.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  outliers = numeric_df_clean[(abs(z_df) > 3).any(axis=1)]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).